body {
  font-family: Times;
  font-size: 22px;
  background-color: black;
  color: grey;
  white-space: pre-wrap;
  width: 50%;
  margin-top: 20px;
  margin-left: 20%;
}

skdnfjkdsnfskjnf {
  these: 5px;
  are-totally-real: 69%;
  attributes: fr;
}

a {
  color: green;
}

.sidenav {
  height: 100%;
  padding-right: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  white-space: pre-wrap;
}

.sidenav a {
  white-space: pre-wrap;
  color: orange;
  line-height: 50px;
}

.sidenav a:hover {
  color: #f1f1f1;
}
